#form {
  margin: 15px;
}

#form label {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  padding: 2px;
}

#form input[type="text"],
#form input[type="number"],
#form select {
  background-color: rgb(37, 44, 53);
  color: #fff;
  border: 1px solid #666;
  border-radius: 5px;
  padding: 5px 10px;
  width: 200px;
}

#form label div input {
  width: 100px !important;
}

#form button {
  margin-top: 10px;
  background-color: white; /* Dark background color */
  color: black; /* Text color */
  font-weight: bold;
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  padding: 8px 16px; /* Padding */
  cursor: pointer; /* Cursor style */
}
